html {
  font-family: "Alata", sans-serif;
}
* {
  margin: 0;
  letter-spacing: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 20vh;
}
.img {
  height: 100vh;
  border-radius: 5%;
  padding: 20px;
}

.cadastro {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #126f38;
}
.container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: url("img/login.jpg");
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  border-radius: 20px;
}
.btn {
  background-color: #28aa63;
  height: 40px;
  width: 140px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  color: white;
}
.btn :hover {
  background-color: white;
}
input{
  background: rgba (255, 255, 255, 0.2);
  color: wheat;
  border-radius: 30px;
}