.button {
    background-color: #20BA61;
    border: none;
    color: white;
    font-family: "Alata", sans-serif;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    margin: 4px 2px;
    cursor: pointer;

  }

  .button:hover {
    background-color: white;
    color: #20BA61;
  }
