/* nao mt importante */


.membro img{
    width: 80%;
    justify-content: center;
    display: flex;
    margin: 20px auto;
  }
  .text-center{
    color: #432217;
    margin: 0;
    padding-top: 4px;
    font-size: 40px;
  }
  .h1{
    text-align: center;
    padding: 100px;
   display: flex;
   justify-content: center;
   font-size: 50px;
  }

  iframe{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  /* ID 05 */
  .nav-item  a :hover{
    color: rgb(250, 245, 255);
  }
  .membro:hover {
    transform: scale(0.9);
  }
  .img-caramel{
    transition: 50ms linear;
  }
  .img-caramel:hover{
    transform: scale(0.9);
  }
  .img-pacoca{
    transition: 50ms linear;
  }
  .img-pacoca:hover{
    transform: scale(0.9);
  }
  .img-cream{
    transition: 50ms linear;
  }
  .img-cream:hover{
    transform: scale(0.9);
  }
  /* ID 05 */
  .membro{
    animation: FadeIn 1s;
    transition: 50ms linear;
  }
  /* ID 06 */
  @keyframes FadeIn{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
